body {
    margin: 0;
    font-family: Papirus;
    display: flex;
    height: 100vh;
    color:#fff;
    background: rgb(29, 29, 29);
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: hsl(68, 84%, 50%);
    color: rgb(29, 29, 29);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    position: relative;
}

/* TITOLO */
.sidebar h2 {
    font-family: Papirus;
    font-size: 35px;
    margin: 0 0 30px 0;
}

/* USERNAME */
.sidebar p {
    position: absolute;
    top: 140px;
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

/* MENU */
.sidebar .menu {
    position: absolute;
    top: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* BOTTONI BASE */
.sidebar a,
.sidebar button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    width: 200px;
    color: hsl(68, 84%, 50%);
    text-decoration: none;
    background: rgb(29, 29, 29);
    padding: 16px;
    border-radius: 6px;
    cursor: pointer;
    border:#000 1px solid;
    text-align: center;
    font-size: 16px;

    display: inline-block;
    transition: transform 0.15s ease, background 0.15s ease;
}

/* HOVER SIDEBAR BUTTONS */
.sidebar a:hover,
.sidebar button:hover {
    transform: scale(1.05);
    background: rgb(40, 40, 40);
    color:hsl(68, 100%, 57%);
}

/* LOGOUT */
.sidebar .logout {
    margin-top: auto;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar .logout button {
    width: 200px;
    display: block;
}

/* CONTENUTO */
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* CARD BASE */
.card {
    background: white;
    font-weight: bold;
    color:#000;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid #b8b8b8;

    position: relative;
}

/* CARD APPROVATA */
.card.approved {
    background: hsl(68, 84%, 50%);
    font-weight: bold;
    border-left: 5px solid hsl(68, 100%, 33%);
}

/* CARD RIFIUTATA */
.card.rejected {
    color:#fff;
    font-weight: bold;
    background: rgb(49, 49, 49);
    border-left: 5px solid hsl(0, 0%, 100%); 
}

/* USER BOX */
.sidebar .user-box {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* AVATAR */
.sidebar .user-avatar {
    position:absolute;
    top: -30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* ADMIN ACTIONS */
.admin-actions {
    position: absolute;
    right: 15px;
    bottom: 8px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* BOTTONI NEUTRI */
.btn-approve {
    font-family: Arial, sans-serif;
    border: 2px solid rgb(49, 49, 49);
    background: hsl(68, 84%, 50%);
    color: #000;
    font-weight: bold;
    width: 100px;        
    padding: 8px 0;        
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;

    text-align: center;

}
.btn-reject {
    font-family: Arial, sans-serif;
    border: 2px solid hsl(68, 84%, 50%);
    background: rgb(49, 49, 49);
    color: #ffffff;
    font-weight: bold;
    width: 100px;        
    padding: 8px 0;        
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;

    text-align: center;
}

.card:not(.approved):not(.rejected) .btn-approve,
.card:not(.approved):not(.rejected) .btn-reject {
    border: 2px solid #000;
}

/* HOVER BOTTONI ADMIN */
.btn-approve:hover,
.btn-reject:hover {
    transform: scale(1.05);
}

h5{
    position:absolute;
    bottom: -8px;
    left: 70px;
    color:rgb(40, 40, 40);
    font-family: Papirus;
}